* ,p,body,ul,li,img,input{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑"；
}
a:hover, a:visited, a:link, a:active {
	color: white;
}
#nav{
	width: 100%;
	height: 80px;
	background-color: #01AF9F;
	text-align: center;
	/* box-shadow: 0px 0px 4px #334F5B; */
}
#nav ul li{
	float: left;
}
#nav ul li img{
	width: 40%;
	height: 40%;
	margin-top: 9%;
	margin-left: 130%;
}
#nav ul li p{
	font-size: 30px;
	color: white;
	line-height: 80px;
	margin-left: 60%;
}
/* 导航 */

#searchbar{
	width: 40%;
	height: 40px;
	margin-top: 20px;
	margin-right: 10%;
	font-size: 18px;
	background-color: white;
	box-shadow: 0.5px 0.5px 16px #48AFFE;
	float: right;
}
#searchbar #search{
	width:80%;
	height: 30px;
	background-color: white;
	margin: 4px 0 0 10px;
	border: 1px solid #dcf5f7;
}
#searchbar #click{
	font-size: 18px;
	color:#ff9800;
	margin: 0 0 0 20px;
	width: 60px;
	height: 30px;
	border-style: none;
	background-color: white;
}
